@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
  background-color: #19181B;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
 
  /* scroll-snap-points-y: repeat(100vh); */
  /* scroll-snap-type: y mandatory; */
}

.mainWrap {
  background-color: #19181B;
}


.navLink,
.ayush {

  color: #FFF3DD;
  transition: all .3s ease;

}

.ayush:hover {

  letter-spacing: 1rem;
}


.rbutton {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;

  cursor: pointer;
  color: rgb(255, 190, 71);
  transition: all .3s ease;
  z-index: 1;
}

.rbutton:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.rbutton:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #fe9400;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.rbutton:hover {
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #fff;
}

.rbutton:hover:before {
  top: -35%;
  background-color: #fe9400;
  transform: translateX(-50%) scaleY(1) scaleX(0.8);
}

.rbutton:hover:after {
  top: -45%;
  background-color:#fe9400;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


.greeting {
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  color: rgb(255, 190, 71);
  margin: 0;

}

.nameH1 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 600;
  color: #FFF3DD;

}
.myr{
  font-family: 'Montserrat', sans-serif;

  font-weight: 600;
  color: rgba(255, 191, 71, 0.936);
}
.subH1 {

  font-family: 'Montserrat', sans-serif;

  font-weight: 600;
  color: #938b7b;
}







.ayush {
  font-family: 'Rubik Maze', system-ui;

}


.navLink:hover {
  
  transform: scale(1.1);

color: #fe9400;
}

/* font-family: 'Space Grotesk', sans-serif; */














.hr {
  border: 1px solid #ffe5b6c9;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.projectsH1 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 600;
  color: #FFF3DD;

}

.smallcomp {


  border: #ffbe47 1px solid;
}

.longcomp {

  border: #ffbe47 1px solid;
}

.projectPara {
  color: #938b7b;

  font-size: 1rem;
}


.minnorProjects {
  font-size: 1rem;

}

.minnorH1 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 300;
  color: #FFF3DD;
}

.CompMainContent {
  background-color: #ffbf4709;
  opacity: 0;
  transition: all .5s ease;
  cursor: pointer;
}

.CompMainContent:hover {

  opacity: 1;
}

.compH1 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 400;

  color: #FFF3DD;

}

.compP {
  color: #938b7b;
}


.minnorprojectsLinks {

  color: #ffbf47d1;

}


.orange {

  color: #FFF3DD;
}

.conH1 {
  color: #FFF3DD;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.conPara {
  color: #a09786;
}

.conLinks {
  color: #ffbf47d1;
  transition: all .27s ease;
}

.conLinks:hover {
  margin-left: 1rem;
}

.contact {
  overflow-x: hidden;
}



.active{
  color: #ffbe47;
  
}


.contact{
  scroll-snap-type: y mandatory;
}
.conChild{

  scroll-snap-align: start;

  position: sticky ;
  top:0;
}



.conElems{ 
   scroll-snap-align:end;
   background-color: #19181B;
   
   top:0;

}

.conLinksSec{

  height: calc(100vh - 5vmax  );
}



.networks {

  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.netbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #444;
  color: #444;
}
.netbox .icon {
  padding: 0.6rem 0.6rem;
  color: #444;
  transition: color 140ms ease;

}


.stack{
  position: sticky;
  top: 0;

}
.s{
height: calc(100vh -6rem);
}

.LINKTO{

  transition: all .30s ease;
}

.LINKTO:hover{

 border: #fe9400 4px solid;

}

.aText{
  opacity: 0;
  transform: rotate(80deg);

}
.animeText{

  opacity: 1;
  transform: rotate(180deg);
}