@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  background-color: #19181B;
  scroll-behavior: smooth;

 
  /* scroll-snap-points-y: repeat(100vh); */
  /* scroll-snap-type: y mandatory; */
}
.navbar{
  transition: all .3s ease;
  background-repeat: no-repeat;
backdrop-filter: blur(8px);
  background-size: cover;
}
.mainWrap {
  background-color: #19181B;
}


.navLink,
.ayush {

  color: #FFF3DD;
  transition: all .3s ease;

}

.ayush:hover {

  letter-spacing: 1rem;
}


.rbutton {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;

  cursor: pointer;
  color: rgb(255, 190, 71);
  transition: all .3s ease;
  z-index: 1;
}

.rbutton:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.rbutton:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #fe9400;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.rbutton:hover {
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #fff;
}

.rbutton:hover:before {
  top: -35%;
  background-color: #fe9400;
  transform: translateX(-50%) scaleY(1) scaleX(0.8);
}

.rbutton:hover:after {
  top: -45%;
  background-color:#fe9400;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


.greeting {
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  color: rgb(255, 190, 71);
  margin: 0;

}

.nameH1 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 600;
  color: #FFF3DD;

}
.myr{
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
transition: all .3s ease;
  font-weight: 600;
  color: rgba(255, 191, 71, 0.936);
}

.myr:hover{
  color: rgba(255, 154, 71, 0.936);
transform: scale(1.01);

}
.subH1 {

  font-family: 'Montserrat', sans-serif;
  letter-spacing:.09rem ;

  font-weight: 500;
  color: #938b7b;
}







.ayush {
  font-family: 'Rubik Maze', system-ui;

}


.navLink:hover {
  
  transform: scale(1.1);

color: #fe9400;
}

/* font-family: 'Space Grotesk', sans-serif; */














.hr {
  border: 1px solid #ffe5b6c9;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.projectsH1 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 600;
  color: #FFF3DD;

}

.smallcomp {


  border: #8b8986 1px solid;
}

.longcomp {

  border: #8b8986 1px solid;
}

.projectPara {
  color: #938b7b;

  font-size: 1rem;
}


.minnorProjects {
  font-size: 1rem;

}

.minnorH1 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 700;
  color: #FFF3DD;
}

.CompMainContent {
  background-color: #ffbf4709;
  opacity: 0;
  transition: all .5s ease;
  cursor: pointer;
}

.CompMainContent:hover {

  opacity: 1;
}

.compH1 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 500;

  color: #FFF3DD;

}

.compP {
  color: #938b7b;
}


.minnorprojectsLinks {

  color: #ffbf49d1;

}


.orange {

  color: #FFF3DD;
}

.conH1 {
  color: #FFF3DD;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.conPara {
  color: #a09786;
}

.conLinks {
  color: #ffbf47d1;
  transition: all .27s ease;
}

.conLinks:hover {
  margin-left: 1rem;
}

.contact {
  overflow-x: hidden;
}



.active{
  color: #ffbe47;
  
}


.contact{

}
.conChild{



  position: sticky ;
  top:0;
}



.conElems{ 
 

   
   top:0;

}

.conLinksSec{

  height: calc(100vh - 5vmax  );
}



.networks {

  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.netbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #444;
  color: #444;
}
.netbox .icon {
  padding: 0.6rem 0.6rem;
  color: #444;
  transition: color 140ms ease;

}


.stack{
  position: sticky;
  top: 0;

}
.s{
height: calc(100vh -6rem);
}

.LINKTO{

  transition: all .4s ease;
}

.LINKTO:hover{

background-color: #ffdfa4;
color: #19181B;
border-radius: 10px;
}

.aText{
  opacity: 0;
  transform: translate(0rem,10rem);
transition: all .5s ease;
}
.animeText{

  opacity: 1;
  transform: translate(0);
}
.aniText{

  opacity: 1;
  transform: translate(0);
}

.pText{
  opacity: 0;
  transform: translate(10rem,0rem);
transition: all .5s ease;
}

.bar{

  padding: 0;
  appearance:none;
}

.socailImg:hover{

filter: brightness(4);

}


.center{
display: flex;
justify-content: center;
align-items: center;
}

.gg{

  overflow: visible;
}

.glass{

  background-color: #d5d5d5c3;

  backdrop-filter: blur(15px);
}

.skillsH1{
  font-family: 'Montserrat', sans-serif;

  font-weight: 600;
  color: #161615;

}

.swiper {
  width: 600px;
  height: 300px;
}


.landing {
  width: 100%;
  /*   skew adds a 4.76 degree slope and the translateY equation is based on the fact that a 4.76 degree slope has a gradient of 1:12 */
  -webkit-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
      -ms-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
          transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
  /*   And finally we account for the slope to make sure each section can occupy the full window... I added 10vw just to give it a little extra padding */
  min-height: calc(100vh - (110vw/-12));
}

/* .landing:not(:last-child) *{
  -webkit-transform: skew(0, 4.76deg) translateY(calc(50vw/12));
      -ms-transform: skew(0, 4.76deg) translateY(calc(50vw/12));
          transform: skew(0, 4.76deg) translateY(calc(50vw/12));
  margin-top: calc(50vw/-12);
}
  
.landing:last-child {
  position: relative;
  -webkit-transform: skew(0);
      -ms-transform: skew(0);
          transform: skew(0);
  margin-top: calc(100vw/-12);
  padding-top: calc(100vw/12);
  min-height: 100vh;
  z-index: -1;
} */


.bggra{background: rgb(25,24,27);
  background: linear-gradient(153deg, rgba(25,24,27,1) 0%, rgba(10,10,10,1) 96%);
}

.hrd{

  border: #4f4f4f 1px solid;
}

.hrf{

  border: #4f4f4f 1px dashed;
}


.cursor{

  width: 20px;
  height: 20px;

  background-color: white;
z-index: 999999;
  position: absolute;

}






.card1:hover{


color: #6d7071;

}




.tinput:focus{

outline: 0;
}

